.THIS.background {
	border: 1px solid #FFD700 ;
    background-color: #E8ECFF ;
    --sds-c-card-color-background: #E8ECFF;
    --sds-c-card-color-border: #FFD700;
    --sds-c-button-brand-color-background: #6C88FF;
}